name: Build and Publish Docker

on:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:
    branches: [ $default-branch ]
  workflow_dispatch:

jobs:
  build-publish:
    uses: halkeye/halkeye/.github/workflows/build-upstream-docker.yaml@master
    secrets: inherit
    permissions:
      contents: write
      packages: write
    with:
      upstream_version: "v1.21.1"
      upstream_repo: "https://github.com/krille-chan/fluffychat"
      run_number: "${{ github.run_number }}"
      username: "${{ github.repository_owner }}"
      repository: "${{ github.repository }}"
